:root {
  --white: #ffffff;
  --green: #b8cb21;
  --dark: #2c4726;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  background-image: url(/img/fond.png);

  display: grid;
  grid: 
  "header" 1fr
  "main" 1fr
  "footer" 1fr / 1fr;
}

/**
 * -----------------------------------------------------------------------------
 * Header / Main / Footer
 * -----------------------------------------------------------------------------
 */
header, main, footer {
  min-width: 85%;
  max-width: 85%;
  margin: 0 auto;
}

/**
 * -----------------------------------------------------------------------------
 * Header
 * -----------------------------------------------------------------------------
 */
header {
  grid-area: header;
  background-color: var(--green);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
header img {
  margin-left: 40px;
}
header nav ul {
  display: flex;
  flex-direction: row;
}
header nav ul li {
  padding: 0;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--dark);
  font-weight: 700;
}
header nav ul li a:last-child {
  margin-right: 80px;
}

/**
 * -----------------------------------------------------------------------------
 * Main
 * -----------------------------------------------------------------------------
 */
main {
  grid-area: main;
  background-color: var(--white);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 80px 0 40px;
}
h2,
h3 {
  color: var(--green);
  margin-bottom: 20px;
}
h2 {
  text-transform: uppercase;
}


/**
 * -----------------------------------------------------------------------------
 * Main .container_left / .container_right
 * -----------------------------------------------------------------------------
 */
.container_left p,
.container_right p {
  white-space: pre-line;
}

.container_left button,
.container_right button {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 3%;
  border: none;
  outline: none;
  cursor: pointer;
}

/**
 * -----------------------------------------------------------------------------
 * Main .container_left
 * -----------------------------------------------------------------------------
 */
.container_left {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 40px 40px 40px;
  border-right: 2px solid #ddd;
}
.container_left img {
  width: 100%;
  margin-bottom: 20px;
}
.container_left button {
  align-self: flex-end;
}

/**
 * -----------------------------------------------------------------------------
 * Main .container_right
 * -----------------------------------------------------------------------------
 */
.container_right {
  max-width: 60%;
  padding-left: 40px;
}
.container_right img {
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 50%;
}
.container_right ul {
  margin-top: 20px;
  margin-left: 100px;
}
.container_right button {
  float: right;
}

/**
 * -----------------------------------------------------------------------------
 * Footer
 * -----------------------------------------------------------------------------
 */
footer {
  clear: both;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}
